services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: quant-frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    env_file:
      - frontend/.env
    networks:
      - quant-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: quant-backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - backend/.env
    depends_on:
      db:
        condition: service_started
      redis:
        condition: service_started
    networks:
      - quant-network
    restart: unless-stopped

  db:
    image: postgres:16
    container_name: quant-db
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: quant_blog
    volumes:
      - postgres_data:/var/lib/postgresql/quant-data
    networks:
      - quant-network
    restart: unless-stopped

  redis:
    image: redis:alpine
    container_name: quant-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/quant-data
    command: redis-server --requirepass "${REDIS_PASSWORD}"
    env_file:
      - backend/.env
    networks:
      - quant-network
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data:

networks:
  quant-network:
    driver: bridge